 *{margin:0;padding:0;box-sizing:border-box;font-family:Poppins}
body{background:#0a1022;color:#fff}

.navbar{display:flex;justify-content:space-between;padding:20px;background:#0f172a}
.logo{color:#7dd3fc}
nav ul{display:flex;gap:20px;list-style:none}
nav li{cursor:pointer;padding:8px 15px;border-radius:20px;border:1px solid #38bdf8}
nav li:hover{background:#38bdf8}

.section{display:none;padding:40px}
.section.active{display:block}

.hero{display:flex;justify-content:space-between;align-items:center}
.heroImg{width:450px;border-radius:20px}
.cta{padding:10px 25px;border-radius:25px;background:#38bdf8;border:none;margin-top:10px}

.features{display:flex;gap:20px;margin-top:40px}
.feature{background:#111c33;padding:20px;border-radius:15px;border:1px solid #1f2b4a}
.feature img{width:100%;border-radius:10px;height:150px;object-fit:cover}

/* Cards */
.cards{display:flex;gap:20px;margin-top:20px}
.card{background:#111c33;padding:20px;border-radius:10px;border:1px solid #1f2b4a;font-size:22px;text-align:center}

/* Calendar */
.calendar-view{margin-top:20px}
.week-grid,.month-grid{display:grid;gap:10px}
.week-grid{grid-template-columns:repeat(7,1fr)}
.month-grid{grid-template-columns:repeat(7,1fr)}
.week-grid div,.month-grid div{
 background:#111c33;padding:20px;min-height:120px;border-radius:10px;border:1px solid #1f2b4a
}

/* Planner */
.planner-container{display:flex;gap:30px}
.task-pool{background:#111c33;padding:20px;border-radius:10px;border:1px solid #1f2b4a;width:250px}
.draggable{padding:10px;background:#38bdf8;border-radius:10px;margin:5px}

/* Projects */
.project-input input{padding:10px;border-radius:10px;border:none;margin-right:10px}
.projects{margin-top:20px;display:grid;grid-template-columns:repeat(3,1fr);gap:20px}
.project{
 background:#111c33;padding:20px;border-radius:10px;border:1px solid #1f2b4a
}

/* Timer */
.timerBox{text-align:center;margin-top:40px}
#timerDisplay{font-size:70px}

/* About */
.team{display:flex;gap:20px;margin-top:30px}
.team img{width:100%;border-radius:10px;height:200px;object-fit:cover}
